.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  align-self: flex-start;
  margin-top: 30px;
  margin-left: 90px;
}

.pageDiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pageForm {
  display: flex;
  flex-direction: column;
  width: 280px;
  gap: 30px;
}
.error {
  color: red;
  font-size: 1rem;
  margin-top: -0.2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.input-error {
  height: 35px;
  border: 2px solid red;
  border-color: red;
  font-size: medium;
}

.usual-input {
  height: 35px;
  font-size: medium;
}

.correct-input {
  height: 35px;
  border: 2px solid rgb(43, 143, 30);
  border-color: rgb(43, 143, 30);
  font-size: medium;
}

.disabled-btn {
  cursor: not-allowed;
  background: rgb(90, 90, 90);
  height: 40px;
  font-size: medium;
  font-weight: 500;
}

.active-btn {
  background-color: #8a33fd;
  height: 40px;
  border: none;
  font-size: medium;
  font-weight: 500;
}

.active-btn:hover {
  background: #fff;
  cursor: pointer;
  border: 2px solid #8a33fd;
}

.form-text {
  color: #8a33fd;
}
