.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin: 50px 0;
  font-family: Arial, sans-serif;

  th,
  td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
  }

  th {
    background-color: #f2f2f2;
    color: #333;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:nth-child(odd) {
    background-color: #ffffff;
  }

  .table-img {
    width: 50px;
    height: auto;
  }

  .table-price {
    color: red;
    font-weight: 600;
  }

  .favorite-button,
  .basket-button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background: none;
  }

  .favorite-button:hover {
    transform: scale(1.04);
  }

  .favorite-img {
    width: 30px;
    height: 30px;
  }

  .basket-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .name-td {
    width: 200px;
  }

  .favorite-td {
    width: 120px;
  }

  .basket-td {
    width: 220px;
  }
}
