.view-toggle {
  margin-top: 50px;
  margin-left: 40px;
}
.cls {
  padding: 10px 20px;
  width: fit-content;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
}

.card-cls {
  @extend .cls;
  background-color: #8a33fd;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-cls:hover {
  background-color: #fff;
  color: #8a33fd;
  transform: scale(1.06);
}

.table-cls {
  @extend .cls;
  background: #fff;
  border: 1px solid #3c4242;
  color: #8a33fd;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.table-cls:hover {
  background-color: #8a33fd;
  color: #fff;
  transform: scale(1.06);
}
