* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(165, 204, 251);
}

.app-div {
  display: flex;
  gap: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(254, 253, 253);
  position: sticky;
  top: 10px;
  z-index: 1;
  height: 50px;
  padding: 0 20px;
  margin: 0 20px;
  border-radius: 5px;
}

.header__div {
  display: flex;
  align-items: center;
}

.header__div:hover {
  cursor: pointer;
}

.nav {
  display: flex;
  margin: 0 20px;
  border-radius: 5px;
}

.nav__link {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  padding: 20px;
  color: rgb(142, 77, 186);
}

.nav__link:hover {
  background-color: rgb(112, 73, 149);
  color: azure;
}

.page-div {
  display: flex;
  padding: 20px;
  background-color: beige;
  border: 2px solid grey;
  margin-left: 20px;
  margin-right: 20px;
}

.page-div__title {
  font-size: 28px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.header__text {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: white;
  align-self: center;
}

.header__photo {
  width: fit-content;
  height: 30px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(254, 253, 253);
  padding: 20px;
}

.footer-down {
  @extend .footer;
  margin-top: 1200px;
}

.basket-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: top;
}

.product-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-text {
  font-size: large;
  font-weight: 600;
}

.header__round-basket {
  position: absolute;
  display: flex;
  background-color: red;
  width: 20px;
  height: 20px;
  top: 5px;
  right: 48px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
}

.header__round-favorite {
  @extend .header__round-basket;
  right: 15px;
}
